<div>i am the parent component</div>
<a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]={exact:true}>home</a>|
<a routerLinkActive="active" routerLink="about">ABOUT</a>|
<a routerLink="student">student</a>
<router-outlet></router-outlet>
<!-- <h3>hello world</h3>
<p>{{2*2}}</p>
<h2>my name is {{name}}</h2>
<h2>i am {{age}} years old</h2>
<p *ngIf="name=='kayode'">go to the market</p>
<button (click)='changeName()'>change name to opeoluwa</button>
<p>{{num}}</p>
<p *ngIf="num<=5">small</p>
<p *ngIf="num>5">big</p>
<button (click)='changeNumber()'>click me</button> -->
<!-- <app-add-student (addStudentChild)="addStudent($event)"></app-add-student>
<hr>
<app-student-list [allStudents]="allStudents" (deleteStudentChild)="deleteStudent($event)"></app-student-list>
    <div class="container-fluid"></div>
    <app-first></app-first>
    <app-button name="delete" bootStrapClass="btn btn-primary mx-2"></app-button>
    <app-button name="Edit" bootStrapClass="btn btn-success mx-2"></app-button>
    <app-button name="Rusticate" bootStrapClass="btn btn-danger mx-2"></app-button> -->
